modules = ["nodejs-20", "web", "bash", "python-3.11"]
[agent]
expertMode = true
integrations = ["github:1.0.0"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "dev-server"

[[workflows.workflow]]
name = "dev-server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
CRON_SECRET = "XDR+KOzEaUT47DSUYP5kVn8l6PRnhyC4MpaeNWkjK3I="

[userenv.development]
NEXTAUTH_URL = "https://65a02b5c-177a-4722-8ba7-e9bdc5e3963f-00-2d6ytxlm1mh2n.kirk.replit.dev"
